<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="../public/stylesheets/styling.css" rel="stylesheet" />
</head>

<body class="w-full h-screen ">


    <div id="flash-message" class="flash-message opacity-100">

        <% if(success.length>0){ %>
            <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500">
                <span class="inline-block mt-1 mb-1 text-white">
                    <%= success %>
                </span>
            </div>
            <% } %>

        <% if(error.length>0){ %>
            <div class="absolute top-0 right-0 mt-20 mr-2 p-3 rounded-md bg-red-500">
                <span class="inline-block  text-white">
                    <%= error %>
                </span>
            </div>
            <% } %>

            
    </div>

    <!-- Navbar for Admin -->
    <div class="navbar border-b-2 border-blue-500 relative h-[5rem] flex min-w-full">
        <div class="left relative flex items-center h-full w-[50%]">
            <h1 class="logo font-semibold text-blue-500 select-none cursor-pointer inline-block text-2xl p-2">
                CoreStreet
            </h1>
        </div>

        <div class="right relative h-full w-[50%]">
            <div class="nav-links flex gap-8 justify-end items-center h-full p-3">
                <!-- Home -->
                <a id="nav-home"
                    class="text-2xl scale-100 hover:scale-110 transition-all top-1 duration-150 ease-in-out z-50 relative"
                    href="/product/allproducts"><img src="/images/all.svg" alt="" /></a>

                <a id="nav-btn-2"
                    class="text-2xl scale-100 hover:scale-110 transition-all top-1 duration-150 ease-in-out z-50 relative"
                    href="/owner/createproduct"><img src="/images/add.svg" alt="" /></a>

                <!-- logout -->
                <a id="nav-logout"
                    class="px-5 flex justify-center items-centern gap-2 rounded-full min-w- py-3 mt-2 bg-blue-500 m-w-[50%] text-white hover:bg-blue-600 cursor-pointer transition-all duration-200 ease-in-out"
                    href="/owner/ownerlogout">Logout <img src="/images/logout.svg" alt="" /></a>
            </div>
        </div>
    </div>



    <!-- <div class="w-full h-screen flex items-start px-20 py-20">
        <div class="w-[25%] flex h-screen flex-col items-start">
            <div class="flex items-center gap-2">
                <h3>sort by</h3>
                <form action="/shop">
                    <select class="border-[1px] px-2 py-1" name="sortby" id="">
                        <option value="popular">Popular</option>
                        <option value="newest">Newest</option>
                    </select>
                </form>
            </div>
            <div class="flex flex-col mt-20">
                <a class="block w-fit mb-2" href="">New Collection</a>
                <a class="block w-fit mb-2" href="">All Products</a>
                <a class="block w-fit mb-2" href="">Discounted Products</a>
            </div>
            <div class="mt-32">
                <a class="block w-fit mb-2" href="">Filter by :</a>
                <a class="block w-fit mb-2" href="">Availability</a>
                <a class="block w-fit mb-2" href="">Discount</a>
            </div>
        </div> -->

        <div class="w-full h-full  p-4"> 
            <p class="border-2 inline-block p-2">Total Products: <span class="text-blue-500"><%= products.length %></span></p>
            


            

            <% if (products.length===0) { %>
                <div class="w-full h-full flex flex-col justify-center items-center">
                    <img class="h-44" src="/images/empty.svg" alt="">
                    <h2 class="mt-4 text-2xl text-blue-500">No products found</h2>
                </div>
                <% } else { %>
                    <div class="w-full  flex flex-col gap-5 h-screen">  
                        <div class="flex  items-start gap-5">
                            <% products.forEach(function(product) { %>
                                <div class="w-60 ">
                                    <div class="w-full h-52 flex items-center justify-center" bg-[<%=product.bgcolor %>
                                        ]>
                                        <img class="h-[12rem]"
                                            src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="" />
                                    </div>
                                    <div class="flex justify-between items-center px-4 py-4" bg-[<%=product.panecolor %>
                                        ] text-[<%=product.textcolor %>]>
                                            <div>
                                                <h3>
                                                    <%= product.name %>
                                                </h3>
                                                <h4>₹ <%= product.price %>
                                                </h4>
                                            </div>

                                            <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white"
                                                href="/owner/editproduct/<%= product._id %>">
                                                <img src="/images/edit.svg" alt="">
                                            </a>

                                            <form method="post" action="/owner/deleteproduct/<%= product._id %>">
                                                <button type="submit" class="w-7 h-7 flex items-center justify-center rounded-full bg-white">
                                                    <img src="/images/delete.svg" alt="">
                                                </button>
                                            </form>

                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                        <% } %>
        </div>


        

    </div>

    <script src="/javascripts/logic.js"></script>
</body>

</html>